*{
    \border: 1px solid black;
}

html, body
{
    margin: 0px; padding: 0px
}

body{
background:center top no-repeat  url(/images/pattern-background-desktop.svg);
background-size: 100% auto;
background-color: #e0e8ff;
font-family: "Red Hat Display";
}

h1 {
    
}

h2{
    margin: 0;
    font-size: 30px;
    font-weight: 900;
    color: #08163b;
}



.card_header > img {
    max-width: 100%;
}

main {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    border-radius:15px;
    width: 450px;
    min-width:  280px;
    
    text-align: center;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 18px 30px -5px rgb(69 100 251 / 24%);
    box-sizing: border-box;
}

.card_body{
    padding: 45px 48px;
}

.card_body > p {
    color: rgb(128, 134, 165);
    line-height: 1.6;
}

.plan_selection {
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration-line: none;
    border-radius: 15px;
    background-color: #f8f9fe;
    padding: 0px 25px;
    margin-bottom: 25px;
    transition: background-color 0.2s linear;
}

.price {
    color: #1f2f56;
    
}

.plan_icon {
    margin: 25px 0px;
}

.price h3 {
    margin: 0px 20px;
    font-weight: 900;
    font-size: 15px;
}
.plan_price {
    margin: 5px 20px 0px 20px;
    color: rgb(128, 134, 165);
}


.plan_selection_change{
    margin-left: auto ;
    color:#3829e0;
    font-weight: 900;
    font-size: 14px;
    text-decoration-line: underline;
}
.plan_selection_change:hover {
    color: rgb(118, 108, 241);
    text-decoration-line: none;
}


.plan_selection:hover {
    background-color: #f8f9fe73;
    transition: background-color 0.2s linear;
}

.payment_button, .cancel_order {
    display: block;
}



.payment_button {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 25px;
    padding: 15px;
    box-shadow: 0px 13px 20px 5px rgba(57, 42, 225, 0.226);
    border-radius: 10px;
    background-color: rgb(56, 42, 225);
    color: white;
    text-decoration-line: none;
    transition: background-color 0.2s linear;
}

.payment_button:hover {
    background-color: rgb(118, 108, 241);
    transition: background-color 0.2s linear;
}

.cancel_order {
    font-weight: 900;
    color: rgb(128, 134, 165);
    text-decoration-line: none;
    font-size: 15px;
}

.cancel_order:hover {
    color: #333;
    
}

@media (max-width: 450px) {

    body{
        background-image: url(../images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
    }

    .card_body {
        padding: 20px 25px;
        
    }

    .card  {
        width: 320px;
        
        margin: 20px;
    }
    
    h2 {
        font-size: 20px;
    }
}